@import "colors";
$font-stack: "Quicksand", sans-serif;
$font-size: 14px;

body {
  background-color: $beige;
  font-family: $font-stack;
  font-size: $font-size;
}

#app {
  display: flex;
  overflow: hidden;
  width: 90%;
  margin: auto;
  gap: 2rem;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#countdown {
  background: #54bab9;
}

.fill__bar {
  background: #54bab9;
  color: #fffff8;
  height: 24px;
  width: 0%;
}

.title {
  font-size: 1.8rem;
  margin: 1rem;
}

.field__error {
  color: #ba5491;
  border: 2px solid #ba5491;
}
.zip__hint {
  font-size: 1rem;
  color: #ba5491;
  display: none;
}
