header {
  font-size: 4rem;
}

body {
  background-color: #f7f7f7;
  //   background-image: repeating-linear-gradient(
  //     0deg,
  //     #f2e7d5,
  //     #f2e7d5,
  //     transparent 1px,
  //     transparent
  //   );
  background-size: 2rem 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

#app {
  display: flex;
  overflow: hidden;
  width: 90%;
  margin: auto;
  grid-gap: 2rem;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fill__bar {
  background: #54bab9;
  color: #fffff8;
  height: 24px;
  width: 0%;
}

.title {
  font-size: 1.8rem;
  margin: 1rem;
}

.field__error {
  color: #ba5491;
  border: 2px solid #ba5491;
}
.zip__hint {
  font-size: 1rem;
  color: #ba5491;
  display: none;
}
