@import "colors";

#saved {
  .title {
    text-align: center;
    margin: 1em;
    color: $darkGrey;
    font-weight: 600;
  }
  > hr {
    width: 50%;
    border: none;
    height: 2px;
    background: $darkGrey;
    color: $darkGrey;
  }
  #trips {
    margin-top: 2em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  background: $darkGreen;
  color: $beige;
  border-radius: 12px;
  img {
    max-width: 100%;
  }
  .info {
    font-size: 1rem;
    line-height: 1.5em;
    padding: 1.5em;

    .head {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      > img {
        width: 2em;
        margin-right: 0.5em;
      }
    }

    h3 {
      font-size: 1.5rem;
    }
    ul {
      list-style-type: circle;
      margin-left: 2em;
    }
  }

  .holder {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .remove {
      cursor: pointer;
      padding: 0.5rem 1rem;
      background: inherit;
      border-radius: 12px;
      color: $beige;
      font-family: "Quicksand", sans-serif;
      border: 1px solid $beige;

      &:hover {
        background: $beige;
        color: $darkGreen;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-width: 45em) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    background: none;
    color: $beige;
    .image {
      max-width: 50%;
      img {
        height: 100%;
        border-radius: 12px 0 0 12px;
      }
    }

    .info {
      background: $darkGreen;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
