body{
    /* background: #fffff8; */
    background-image: repeating-linear-gradient(0deg, #54BAB9, #54BAB9 1px, transparent 1px, transparent);
    background-size: 2rem 2rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    width: 90%;
    margin: auto;
    color: #444;
    grid-gap: 2rem;
    font-family: 'Oswald', sans-serif;
}

.headline {
    font-size: 2.5rem;
}

.holder.zip {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.holder.feel {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.fill__bar {
    background: #54bab9;
    height: 24px;
    width: 0%;
}

.entry{
    background: rgba(150, 210, 198, 0.7);
}

#entryHolder{
    margin: 1rem;
}

.title{
    font-size: 1.8rem;
    margin: 1rem;
}

@media only screen and (min-width: 600px) {
    .headline {
        font-size: 4rem;
    }
    .title{
        font-size: 2.5rem;
    }
}


.field__error {
    color: #ba5491;
    border: 2px solid #ba5491
}
.zip__hint {
    font-size: 1rem;
    color: #ba5491;
    display: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display: block;
    height: 2.5rem;
    border: 1px solid #54BAB9;
    border-radius: 12px;
    color: #54BAB9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

button {
    cursor: pointer;
    margin: 0 auto;
    width: 20rem;
    padding: 1rem 0;
    background: #9ED2C6;
    border-radius: 12px;
    color: #fffff8;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 1px 1px 5px #444;
}

button:disabled {
    cursor: not-allowed;
    background: #444;
}

h1{
    font-size: 36px;
}

textarea{
    color: #54BAB9;
    border: 1px solid #54BAB9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #54BAB9; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #54BAB9; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #54BAB9; 
    font-family: 'Oswald', sans-serif;

} 
